requests==2.27.1
random==3.8.1
string==1.2.1
time==1.0.0
itertools==1.1.0
json==4.0.2
urllib3==1.26.7
importlib.util==5.1.0
re==2.20.0
requests==2.27.1
os==6.1.0
urllib3==1.26.7
chardet==4.0.0
json==4.0.2
concurrent.futures==4.5.0
colorama==0.4.4